.grid{
  display: grid;
  grid-template-columns: repeat(8,1fr);
	grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  height: 80%;
  padding-top: 5em;
  padding-bottom: 2em;
  padding-left: 15%;
  padding-right: 15%;
  color:white;
  background-image: linear-gradient(45deg, #7A88FF, #7AFFAF);
}
.grid>div{
	background-color: rgb(245, 245, 245);
	min-height: 100px;
}
.item1{
	grid-column: span 3;
  grid-row: span 2;
  text-align: center;
  padding-top: 40%;
  background: linear-gradient(to bottom, #12131a, #12131a 80%,rgb(245, 245, 245) 80%, rgb(245, 245, 245) 20%);
}
.i1-img{
  width: 50%;
  min-width: 150px;
}
.item2{
	grid-column: span 2;
  grid-row: span 2 ;
  padding-left: 5px;
  padding-top: 60%;
  background: linear-gradient(to bottom, #12131a, #12131a 80%,rgb(245, 245, 245) 80%, rgb(245, 245, 245) 20%);
}
.item0{
	grid-column: span 3;
  grid-row: span 2 ;
  text-align: center;
  padding-top: 60%;
  background: linear-gradient(to bottom, #12131a, #12131a 80%,rgb(245, 245, 245) 80%, rgb(245, 245, 245) 20%);
}
.item3{
  grid-column: span 3;
	grid-row: span 1;
  text-align: center;
  background-color: rgb(230, 230, 230);
}
.i3-but{
  color: rgb(51, 132, 255);
  border: solid 1px;
  border-color: rgb(51, 132, 255);
  margin: 0 0.5em 0 0.5em;
  border-radius: 30px;
  margin-top: 5px;
  background-color: rgb(245, 245, 245);
  margin-right: 2em;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.item3-5{
  grid-column: span 1;
	grid-row: span 1;
  text-align: center;
  background-color: rgb(230, 230, 230);
}
.item4{
  grid-column: span 2;
	grid-row: span 1;
  text-align: center;
  color: black;
  background-color: rgb(230, 230, 230);
}
.item5{
  grid-column: span 2;
	grid-row: span 1;
  text-align: center;
  color: black;
  background-color: rgb(230, 230, 230);
}
.item6{
  grid-column: span 8;
	grid-row: span 1;
  color: black;
}
.intro{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
  background: rgb(230, 230, 230);
  font-style:italic;
  text-align: center;
  border-radius: 10px;
}
.intro>p{
  padding: 3px;
}
.item7{
  grid-column: span 8;
	grid-row: span 2;
  color: black;
}
.i7-content{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 5%;
  margin-right: 5%;
}
.postimg{
  width: 270px;
  height: 196px;
}
.item8{
  grid-column: span 8;
	grid-row: span 2;
  color: black;
}